.movie-list-box{
    width: 1200px;
    min-height:100vh;
    margin: 0 auto;
}
.movie-list-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.search{
    padding: 10px;
    width: 1050px;
    margin: 0 auto;
}
.search form{
    width: 500px;
    margin: 0 auto;
}
.search form input{
    background: #e9e6e6;
    border-radius: 20px;
    border: none;
    width: 500px;
    height: 30px;
    font-size: 20px;
}