.movie-detail-box {
    width: 100%;
    height: 760px;
}

.movie-detail-info {
    width: 50%;
    height: 380px;
    box-shadow: 20px 20px 90px 20px black;
}

.movie-detail-video-box {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.movie-detail-video {
    width: 50%;
    height: 380px;
}

.movie-detail {
    width: 100%;
    min-height: 380px;
    display: flex;
}

.movie-box-img {

}

.movie-detail-img {
    width: 130px;
    height: 200px;
}
.movie-info-detail {
    margin: 10px;
}

.movie-detail-title {
    color: white;
    font-weight: 600;
    font-size: 30px;
}

.movie-detail-release {
    color: red;
    font-size: 20px;
}

.movie-detail-vote-box {
    color: white;
    font-size: 20px;
}

.movie-detail-vote {
    color: #23ef13;
    font-size: 25px;
    margin-left: 10px;
}

.movie-detail-genres-box {
    color: white;
    font-size: 20px;
}

.movie-detail-genres {
    color: darkorange;
    font-size: 25px;
}
.movie-detail-lan{
    color: white;
    font-size: 20px;
}
.movie-detail-lan span{
    color: #1ee796;
    font-size: 25px;
}
.movie-detail-pop{
    color: #ffffff;
    font-size: 20px;
}
.movie-detail-pop span{
    color: #f1d72a;
    font-size: 25px;
}
.movie-detail-ove{
    color: white;
    font-size: 20px;
}
.movie-detail-ove span{
    color: #f35028;
    font-size: 16px;
    font-weight: 600;
}